opencv-python
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.11.0+cu113
torchvision
torchmetrics
transformers
timm
scipy
matplotlib
pycocotools
pytorch-lightning
wandb
hydra-core
omegaconf

# For visual analysis of exemplar vectors in low-dim space
umap-learn
pandas
datashader
bokeh
holoviews
