defaults:
    - base

task: "rgb"

offline: true

data:
    name: "vaw"
    path: "${paths.data_dir}/${vision.data.name}"

optim:
    init_lr: 1e-4
    beta1_1m: 1e-1
    beta2_1m: 1e-3
    eps: 1e-8
    lr_scheduler: "MultiStepLR"
    lr_scheduler_milestones:
        - 0.8
        - 0.9
    lr_scheduler_gamma: 3e-1
    max_steps: 50000
    log_interval: 250
    val_interval: 5000
    resume: false